.tag{
  @at-root{
    #{&}--new{
      background-color: $color-hot-pink;
      margin-left: 3px;
      padding: 3px 6px;
      color: white;
      font-size: 11px;

      &.page-content-context{
        text-transform: uppercase;
        padding: 2px 5px;
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}