.c-footer--lps .c-footer--lps__social-links #footer-blog-desktop{
    fill: #3C3F40;
}
.c-footer--lps{
    margin-bottom: 49px;
    .c-footer--copyright{
        span{
            font-size: 13px;
            line-height: 1.3;
            margin: 0px 20px;
        }
    }
    .c-footer--lps__company-links{
        
        a{
            font-size: 13px;
            line-height: 1.3;
            margin: 0px 20px;
        }
    }
    .d-flex{
        justify-content: center;
    }
    .c-footer--lps__social-links {
        margin: 0px 20px;
        a{
            margin-right: 8px;
            &:last-child{
                margin-right: 0px;
            }
        }
        
    }
}