#l-modal--overlay{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 63, 64, 0.6);
  z-index: 999;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include media-breakpoint-up(md) {
      align-items: center;
  }
  &.exit-intent-modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    .exit-intent-container{
      max-height: 100vh;
      overflow-y: scroll;
      padding-top: 0px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.l-modal--content{
  width: 100%;

  .modal-content{
    margin: 0 auto;
    border: none;
    border-radius: 0;

    @include media-breakpoint-up(md) {
      width: 80%;
      max-width: 911px;
    }

    @include media-breakpoint-up(lg) {
      width: 70%;
      max-width: 911px;
    }

    .container{
      padding: 60px;
      max-height: 100vh;
      overflow-y: scroll;

      .row{
        text-align: left;
      }
    }
    .modal-close{
      left: initial;
      right: 25px;
      svg{
        polygon:first-child{
          fill:#646567;
        }
      }
    }

  }
  .exit-intent-container {
    cursor: auto;
    .modal-wrap {
      max-width: 706px;
      position: relative;
      background-color: white;
      padding: 62px;
      #popup-newsletter {
        width: 100%;
        margin-bottom: 20px;

        #emailAddress {
          width: calc(100% - 30px);
          border: none;
          border-bottom: 1px solid #D9D9D9;
          margin: 24px 0px 40px;
          padding-bottom: 10px;
          &::placeholder {
            color: #D9D9D9;
          }
          &:focus{
            border: none;
            border-bottom: 1px solid $color-hot-pink;
            outline: none;
          }
        }
        button {
          width: 184px;
          text-align: center;
          display: inline-block;
          margin-bottom: 40px;
          &#noThanks {
            box-shadow: none;
            border: 1px solid $color-hot-pink;
          }

        }
      }
      .modal-close {
        position: absolute;
        top: 30px;
        right: 30px;
        left: initial;
        color: $color-graphite;
        transform: scaleX(1.5);
        &:hover {
          text-decoration: none;
        }
      }
      .disclosure {
        font-size: 13px;
        line-height: 18px;
        
      }
    }
    &.pink-modal {
      .modal-wrap {
        background-color: #FFEAEF;
        h2 {

        }
        h2, p, .modal-close, .c-eyebrow--dark, #popup-newsletter, .disclosure, #emailAddress {
          color: $color-hot-pink;
        }
        .c-eyebrow--dark {
          &:before {
            border-bottom-color: $color-hot-pink;
          }
        } 
        .modal-close {
          opacity: .6;
        }
        #popup-newsletter {
          #noThanks {
            background-color: inherit;
            &:hover {
              color: $color-hot-pink;
            }
          }
          #emailAddress {
            background-color: inherit;
            border-bottom: 1px solid #FF85A2;
            &::placeholder {
              color: #FF85A2;
            }
          }
          #yesPlease {
            box-shadow: none;
            &:hover {
              background-color: $color-hot-pink;
              color: white;
              border-color: $color-hot-pink;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm){
      padding-top: 10vh;
      position: relative;
      .container.modal-wrap {
        padding: 30px !important;
        #emailAddress {
          margin: 10px 0px !important;
          width: 100% !important;
        }
        #popup-newsletter {
          margin-bottom: 0px;
          button {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 43%;
            text-align: center;
            padding:10px 13px;
            &:nth-of-type(2) {
              margin-left: 5%;
              margin-right: 0px;
            }
            &:first-of-type {
              margin-right: 5%;
            }
          }
        }
      .disclosure {
        line-height: 18px;
        font-size: 13px;
      }
      }
      h2 {
        margin-bottom: 0px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
      }

    }
    .form-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .signup_form {
      .google_light_btn {
        padding: 10px 0px;
        /*margin-top: 14px;*/
        text-align: center;
        display: block;
        background: #FCFEFF;
        /* Full Color Kit/Grey/$grey-5 */
        border: 1px solid #B0B7BA;
        box-sizing: border-box;
        border-radius: 4px;
        &:hover{
          text-decoration: none;
        }
        .google_icon {
          width: 24px;
          display: inline-block;
          height: 24px;
        }
        .google_light_btn_label {
          display: inline-block;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          letter-spacing: 0.21875px;
          color: #3C3F40;
        }
      }
      .signup_form_subtext {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        margin: 17px 0px 9px;
      }
      .field {
        .form_text_field_container {
          position: relative;
          margin: 18px 0px 22px; 
          label {
            display: block;
            padding: 5px;
            margin-left: 10px;
            font-size: 12px;
            line-height: 14px;
            position: absolute;
            top: -20px;
            //background-color: white;
            background-color: transparent;
            
          }
          input.text_field {
            padding: 20px 15px 11px;
            display: block;
            font-size: 14px;
            line-height: 17px;
            width: 100%;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            border-radius: 4px;
          }
          @include placeholder {
            color: #D9D9D9;
          }
        }
      }
      .submit-button-row {

        .submit_button {
          cursor: pointer;
          width: 100%;
          background: #FF3465;
          border-radius: 25px;
          color: white;
          font-size: 14px;
          line-height: 17px;
          font-weight: bold;
          padding: 16px;
          text-align: center;
          letter-spacing: 0.21875px;
          &.with-no-border{
            border:none;
          }

        }
      }
    }
  }
}

// Extra templates
#base-personalization-popup-template{
  .initial-state{

  }
  .success-state{
    display: none;
  }
}