@import "helpers";

.c-list-card {
  padding: $global-mobile-padding;
  .integrations & {
	  @include media-breakpoint-down(sm) { 
	  	padding-top: 45px;
	  }
  }
  @include media-breakpoint-up(md) { 
    padding: $global-desktop-padding;
  }
  a.col-md-4:hover {
    text-decoration: none;
    .c-list-card__card {
      box-shadow: 0 10px 25px 0 rgba(60,63,64,0.14);
    }
  };
}

.c-list-card__header {
  margin-bottom: 40px;
  @include media-breakpoint-down(md) {
	  margin-bottom: 30px;
  }
}
.c-list-card__card {
  background: $color-white;
  border: 1px solid $color-putty;
  box-shadow: 0 6px 20px 0 rgba(60,63,64,0.07);
  transition: box-shadow 0.2s ease-in-out;
  padding: 15px 35px 40px;
  position: relative;
  margin-bottom: 30px;
  height: 100%;
  .productivity & {
	  @include media-breakpoint-up(md) { 
	    margin-bottom: 0;
	  }
  }
  .p-sm {
    color: #8A8C8B;
    margin-bottom: auto;
    margin-top: 0;   
  }
  &.c-list-card__card--centered {
    .p-sm {
      text-align: center;
    }
  }
  &.c-list-card__card--no-shadow {
	  box-shadow: none;
	  border: none;
	  
	  @include media-breakpoint-down(md) {
		  padding: 0;
			height: auto;
	  }
  }

  &.c-list-card__card--no-outline{
    border: none;
  }

  &.c-list-card__card--large {
    padding: 60px;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
		  padding: 60px 20px;
	  }
  }
}

.c-list-card__line {
  margin: 25px 35px;
  padding-top: 14px;
  border-top: 1px solid $color-graphite;
  .flex-container {
    display: flex;
  }
  h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
  }
}



.c-list-card__image {
	padding: 20px;
  min-height: 165px;
  @include media-breakpoint-down(md) {
    min-height: 150px;
  }
	img {
		max-height: 125px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
}

.c-list-card__image--text {
  padding: 20px 20px 0;
}

.c-list-card__list {
	list-style: none;
	padding: 10px 0px 20px;
	margin: 0;
	li {
		font-family: $light-font;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: -3px;
	}
}

.c-list-card__copy {
  margin-bottom: 32px;
  img {
    width: 100%;
  }
}

.c-list-card__icon {
  margin: 28px 0 35px;
}

.c-list-card__border {
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.mint {
    background-color: $color-mint;
  }
  &.volt {
    background-color: $color-volt; 
  }
  &.hot-pink {
    background-color: $color-hot-pink; 
  }
  &.eggplant {
    background-color: $color-eggplant; 
  }
}