@import "pages/about/about";
@import "pages/crm-for-agency/crm-for-agency";
@import "pages/tools/tools";
@import "pages/crm-comparison/crm-comparison";
@import "pages/lps/lps";
@import "pages/partner/partner";
@import "pages/pricing/pricing";
@import "pages/real-state-page/real-state-page";
@import "pages/terms/terms";
@import "pages/search/search";
@import "pages/google-workspace-crm/_google-workspace-crm";
@import "pages/sales-reporting/_sales-reporting";
