// Global Spacing (TO CHANGE AFTER BLOG COMPLETION)
$global-section: 1800px;
$global-container: 1250px;
$global-section-padding: 65px 0 65px;
$global-desktop-padding: 120px 0 120px;
$global-mobile-padding: 60px 0 60px;
$global-new-nav-padding: 160px 0 160px;
$global-text-padding: 74px;
$global-header-margin: 36px;
$global-container-padding: 0 25px;
// Colors
$light-blue: #bcdae5;
$color-gray-white: #eae9ee;
$color-new-volt: #006b5b;
$color-deep-purple: #2f203f;
$color-hot-pink: #ff3465;
$color-orange-g2crowd: #f0492d;
$color-soft-gray: #b0b7ba;
$color-extra-soft-gray: #ddd;
$color-volt: #b8ff01;
$color-graphite: #3c3f40;
$color-eggplant: #321e41;
$color-soft-eggplant: #503068;
$color-midnight: #14236e;
$color-soft-midnight: #1e3192;
$color-mint: #00e6c3;
$color-teal: #20d5ba;
$color-teal-dark: #006b5b;
$color-aqua-mint: #20d5ba;
$color-strong-green: #018a75;
$color-burgundy: #661428;
$color-light-mint: #ccf9f2;
$color-silver: #e5e7e9;
$color-putty: #f5f6f6;
$color-cemento: #f5f5f5;
$color-white: #ffffff;
$color-black: #000000;
$color-sky: #d8e0e7;
$color-light-text: #8a8c8b;
$color-purple: #311d40;
$color-final-plea: #56468f;
$color-purple-rain: #6f448e;
$color-barney-purple: #a16bc9;
$color-soft-pink: #ffebef;
$color-evergreen: #004c3f;
$color-indigo: #2b41b2;
$color-light-pink: #d92c55;
// -- OLD colours --
$color-dark-white: #ececec;
$color-dark-gray: #4a4a4a;
$color-light-gray: #aaa;
$color-green-500: #4caf50;
$color-blue-500: #2196f3;
$color-amber-600: #ffb300;
$color-cyan-600: #00acc1;
$color-teal-500: #009688;
$color-indigo: #3f51b5;
$color-dark-slate: #263238;
$color-mid-slate: #37474f;
$color-tan: #f8f7f4;
$color-blue-gray-900: #263238;
$color-cornflower: #5659fc;

// Z Index Values
$z-index-main-nav: 10;
$z-index-features-dropdown: 1;
$z-index-mobile-header: 10;
$z-index-mobile-dropdown: 1;
// Box Shadow
$global-shadow: 0 6px 20px 0 rgba(60, 63, 64, 0.07);
$global-shadow-hover: 0 10px 25px 0 rgba(60, 63, 64, 0.14);
$global-wimpy-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
// Fonts
$regular-font: "Graphik-Regular";
$medium-font: "Graphik-Medium", sans-serif;
$light-font: "Graphik-Light";

// Transition
$hero--split: 1s;
$eggplant-block-transition-delay: 0.5s;
$eggplant-block-transition: 1.5s;
$logo-transition: 1s;
$mobile-nav-transition: 0.22s;
$mobile-easing: ease-in-out;

// Navigation
$side-nav-width: 283px;
