/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  .wistia_click_to_play img{
    width: 100%!important;
    height: auto!important;
    position: relative!important;
    left: 0px!important;
    top: 0px!important;
  }
}
.testimonial-block{
  &:after{
    content: '';
    background-color: #F5F6F6;
    position: absolute;
    width: 90vw;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}
.testimonial__conatiner{
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    height: calc(100% + 40px);
    top: 0px;
    left: -65%;
    z-index: 1;
    background: #00E6C3;
    position: absolute;
    z-index: 1;
  }
}
.eyebrow-big-dash{
  &:before{
    content: '';
    margin-right: 8px;
    width: 34px;
    border-bottom: 2px solid #3C3F40;
    display: block;
    position: relative;
    float: left;
    top: 10px;
    height: 2px;
  }
}
.text-link{
  &:hover{
    &>image{
      transition: 0.5s;
      @apply pl-2
    }
  }
}
@tailwind  utilities;